@page "/order-details"
@using EshopSharedLibrary
@using EshopSharedLibrary.Interface
@using EshopSharedLibrary.Service
@inject NavigationManager NavigationManager
@inject IShoppingCartService shoppingCartService;

@code {
    private string orderId;
    private string total;
    private string success;

    protected override void OnInitialized()
    {
        // Retrieve order information from query parameters
        var uri = new Uri(NavigationManager.Uri);
        var queryString = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        orderId = queryString["orderId"];
        total = queryString["total"];
        success = queryString["success"];

        if (success == "true")
        {
            shoppingCartService.clearCart();
        }
    }
}

<h3>Order Details</h3>

<p>Order ID: @orderId</p>
<p>Total Amount: @total</p>



