@page "/order-failed"
@using EshopSharedLibrary.Interface
@inject NavigationManager NavigationManager
@inject ILoginService loginService
@if (success == "false")
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Order Failed</h4>
        <p>We're sorry, but there was an issue processing your order.</p>
        <p>Please try again later or <a href="/contact-us">contact us</a> for assistance.</p>
        <hr>
        <p class="mb-0">If you have any questions or concerns, please feel free to <a href="/contact-us">contact us</a>. We apologize for any inconvenience.</p>
    </div>
}

@code {
    private string success;
    protected override void OnInitialized()
    {
        // Retrieve order information from query parameters
        var uri = new Uri(NavigationManager.Uri);
        var queryString = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);
        success = queryString["success"];
    }
}
