@page "/"
@using Blazor_Eshop_Obligatorisk_Opgave.Client.Components
@using EshopSharedLibrary.Interface
@using EshopSharedLibrary.Model
@inject IProductService ProductService

<PageTitle>Product listings</PageTitle>

<main class="container">
    <div class="row">
        @if (products == null)
        {
            <p>Loading...</p>
        }
        else
        {
            @foreach (var product in products)
            {
                <div class="col-md-3 mb-4">
                    <ProductListingItem Product="product"></ProductListingItem>
                </div>
            }
        }
    </div>
</main>

@code {
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetAllProducts();
    }
}
