@page "/"
@using Blazor_Eshop_Obligatorisk_Opgave.Client.Pages.ShopComponents
@using EshopSharedLibrary.Interface
@using EshopSharedLibrary.Model.ProductModel
@inject IProductService ProductService
@inject NavigationManager navigationManager
@rendermode InteractiveAuto
@if (products == null)
{
    <p>Loading...</p>
}
else
{
    <PageTitle>Product listings</PageTitle>
     <main class="margin-horizontal:auto max-width:container padding-horizontal:32">
            <div id="vue-shop" class="margin-bottom:32 quenched">
                <div class="display:flex flex-grow:1 flex-wrap:wrap margin-bottom:-32 margin-horizontal:-16">
                    <div class="display:flex flex-direction:column flex-grow:0 flex-shrink:0 margin-bottom:32 padding-horizontal:16 width:100 @@mq-768--width:100">
                        <ErrorBoundary>
                            <ChildContent>
                            <ul class="display:flex flex-grow:1 flex-wrap:wrap margin-bottom:-32 margin-horizontal:-16">
                                @foreach(var product in products)
                                {
                                    <ProductListingItem Product="product"></ProductListingItem>
                                }                        
                            </ul>
                            </ChildContent>
                            <ErrorContent>
                                <p>There is an error getting the products.</p>
                            </ErrorContent>
                        </ErrorBoundary>
                    </div>
                </div>
            </div>
        </main>
        }
}





@code {
    private List<Product> products;

    protected override void OnInitialized()
    {
        products = ProductService.GetAllProducts();
    }

}

