@using EshopSharedLibrary.Interface
@using EshopSharedLibrary.Service
@using Microsoft.EntityFrameworkCore

<nav aria-labelledby="main-navigation-desktop-heading" class="main-navigation">
    <h2 id="main-navigation-desktop-heading" class="visually-hidden">Main navigation</h2>
    <ul class="navigation-links">
        <li>
            <NavLink Match="NavLinkMatch.All" href="/">Home</NavLink>
        </li>
        <li>
            <NavLink Match="NavLinkMatch.All" href="/cart">Cart</NavLink>
        </li>
        <li>
            <NavLink Match="NavLinkMatch.All" href="/CreateAccount">Opret Bruger</NavLink>
        </li>
        @if (isAdmin == true)
        {
            <li>
                <NavLink Match="NavLinkMatch.All" href="/admin">AdminPanel</NavLink>
            </li>
        }
        <li>
            @if (!isLoggedIn)
            {
                <form @onsubmit="HandleLogin" class="login-form">
                    <label for="username">Email:</label>
                    <input type="text" id="username" @bind="username" />
                    <label for="password">Password:</label>
                    <input type="password" id="password" @bind="password" />
                    <button type="submit">Login</button>
                </form>
            }
            @if (isLoggedIn)
            {
                <p>Logged in as: @username</p>
            }
        </li>
    </ul>
</nav>




@code {
    [Inject]
    public ILoginService loginService { get; set; }

    private string? username;
    private string? password;
    private bool isLoggedIn;
    private bool isAdmin;



    private async Task HandleLogin()
    {
        try
        {
            await loginService.Login(username, password);
            isLoggedIn = true; 
            isAdmin = await loginService.CheckIfAdmin(username); 
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}