@using Microsoft.EntityFrameworkCore
<nav aria-labelledby="main-navigation-desktop-heading" class="display:flex position:absolute margin-left:-12 pos-left:0">
    <h2 id="main-navigation-desktop-heading" class="visually-hidden">Main navigation</h2>
    <ul class="display: flex; align-items\:center">
        <li class="links">
            <NavLink Match="NavLinkMatch.All" href="/">Home</NavLink>
            <NavLink Match="NavLinkMatch.All" href="/cart">Cart</NavLink>
            <NavLink Match="NavLinkMatch.All" href="/CreateAccount">Opret Bruger</NavLink>
            <NavLink Match="NavLinkMatch.All" href="/admin">AdminPanel</NavLink>
            @if (isLoggedIn == false)
            {
            <li class="login-form">
                <form @onsubmit="Login">
                    <label for="username">Email:</label>
                    <input type="text" id="username" @bind="username" />
                    <label for="password">Password:</label>
                    <input type="password" id="password" @bind="password" />
                    <button type="submit">Login</button>
                </form>
            </li>
            }
            @if (isLoggedIn)
            {
            <p>Logged in as: @username</p>
            }
        </li>
    </ul>
</nav>

@code {
    private string username;
    private string password;
    private bool isLoggedIn;

    [Inject]
    private DBContext dbContext { get; set; }

    private async Task Login()
    {
        var user = await dbContext.User.FirstOrDefaultAsync(u => u.Email == username && u.Password == password);

        if (user != null)
        {
            isLoggedIn = true;
        }
        else
        {
            //Vis fejl
        }
    }
}
}